<%- include('Navbar')-%>
    <div class="text-center my-2">
        <h1>
            Add Participant
        </h1>
    </div>
    <div class="text-center my-3">
        <form id="partiform" onsubmit="event.preventDefault(); getinfo(this);">
            <div id="field-container">
                <div class="my-2">
                    <label class="mx-3" for="count">Participant-1</label>
                    <label for="name">Name: </label><input id="fullname" type="text" required />
                    <label for="regNumber">RegNo: </label><input id="" type="text"  required/>
                    <label for="score">Points: </label><input id="" type="number" required />
                </div>
            </div>
            
            <button style="position: relative;left: 390px;" type="submit" class="btn btn-primary my-1" title="Click here to submit the list of participants">Submit</button>
        </form>
        <div class="my-3">
            <button class="btn btn-primary" onclick="addField(this)" title="Click here to add one more participant field" >Add Field</button>
        </div>
    </div>

    <script>
        //function to get the participants data from the input fields of the form
        async function getinfo(event) {

            try {
                const response = confirm("Are you sure you want to submit the list!");

                if (response) {
                    let name = await document.getElementById("partiform").getElementsByTagName('input');

                    const data = [];

                    for (let i = 0; i < name.length; i += 3) {
                        data.push({
                            name: name[i].value,
                            regNumber: name[i + 1].value,
                            score: name[i + 2].value
                        })
                    }

                    alert("Adding...");
                    const response = await axios({
                        method: "post",
                        url: `/contest/updateCumulative`,
                        headers: { "Content-Type": "application/json" },
                        data: data,
                    });

                    if (response.length !== 0) {
                        console.log("Participants added successfully", response.message);
                        await alert("Participants added Successfully!");
                        location.reload(true);
                    }
                }
            } catch (error) {
                console.log(error);
            }
        }

        //dunction to add participant field in the form
        async function addField(event) {
            let form = document.getElementById("field-container");

            let count = form.childElementCount;

            var div = document.createElement("div");
            div.classList.add("my-2")
            let field = `
                <label class="mx-3" for="count">Participant-${count + 1}</label>
                <label for="name">Name: </label><input id="fullname" type="text" required/>
                <label for="regNumber">RegNo: </label><input id="" type="text" required/>
                <label for="score">Points: </label><input id="" type="number" required/>`
            div.innerHTML = field;
            form.appendChild(div);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    </body>

    </html>