<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Participant</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body style="text-align: center">
    <div class="text-center my-2">
        <h1>
            <%=contest%>-Add Participant
        </h1>
    </div>
    <div class="my-3"><button onclick="addField(this)">Add Field</button></div>
    <div class="text-center my-3">
        <form id="partiform" onsubmit="event.preventDefault(); getinfo(this);">
            <div id="field-container">
                <div class="my-2">
                    <label class="mx-3" for="count">Participant-1</label>
                    <label for="name">Name: </label><input id="fullname" type="text" />
                    <label for="email">Email: </label><input id="" type="email" />
                    <label for="score">Points: </label><input id="" type="number" />
                </div>
            </div>
            <button type="submit" class="my-3">Submit</button>
        </form>
    </div>

    <script>
        //function to get the participants data from the input fields of the form
        async function getinfo(event) {

            try {
                let name = await document.getElementById("partiform").getElementsByTagName('input');

                const data = [];

                for (let i = 0; i < name.length; i += 3) {
                    data.push({
                        name: name[i].value,
                        email: name[i + 1].value,
                        score: name[i + 2].value
                    })
                }

                console.log(data);

                const response = await axios({
                    method: "post",
                    url: `/api/contest/crud/<%=contest%>/addParticipants`,
                    headers: { "Content-Type": "application/json" },
                    data: data,
                });

                if (response) {
                    console.log("Participants added successfully", response);
                }

            } catch (error) {
                console.log(error);
            }
        }

        //dunction to add participant field in the form
        async function addField(event) {
            let form = document.getElementById("field-container");

            let count=form.childElementCount;

            var div = document.createElement("div");
            div.classList.add("my-2")
            let field = `
                <label class="mx-3" for="count">Participant-${count}</label>
                <label for="name">Name: </label><input id="fullname" type="text" />
                <label for="email">Email: </label><input id="" type="email" />
                <label for="score">Points: </label><input id="" type="number" />`
            div.innerHTML = field;
            form.appendChild(div);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>